h1{
    background-color: blueviolet;
    color: aqua;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyn_zt19pen7R5ysebdDVzW81cjYXfGZ9oFzZR-KvbjbIxBotZVnIvw82S0HismxURq-KB6OimNdg&usqp=CAU&ec=48665701);
    background-repeat: no-repeat;
    background-size: cover;
}